body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    display: block;
    width: 30%;
    margin: auto;
  }

.container {
    background-color: black; /* Fondo negro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 800px;
    color: white; /* Color de letra */
}

.select  {
    background-color: black; /* Fondo negro */
   
    color: rgb(14, 13, 13); /* Color de letra */
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    flex: 1;
    margin-bottom: 5px;
    font-weight: bold;
    color: white; /* Color de letra */
}

.name-group > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name-group > div{
    flex: 1;
    width: 48%;
}

input, textarea{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5); /*bordes*/
    border-radius: 4px;
    width: 100%;
    background-color: transparent; /*fondo*/
    color: rgb(252, 247, 247); /* color de letra */
}

select{
    flex: 1;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(240, 235, 235, 0.5); /*Borde*/
    border-radius: 4px;
    width: 100%;
    background-color: transparent; /*fondo*/
    color: white; /* color de letra */
}
textarea {
    resize: none;
    height: 100px; 
    color: white;
}

input[type="checkbox"] {
    width: 20px; /* ancho */
    height: 20px; /* altura */
    
}

.group {
    display: flex;
    justify-content: space-between;
}

.group > div {
    width: 32%;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Validaciones */
input:invalid, textarea:invalid, select:invalid {
    border-color: rgb(55, 0, 255);
}

input:valid, textarea:valid, select:valid {
    border-color: rgb(34, 0, 128);
}
